[Unit]
 Description=My LCD Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=/bin/sleep 20
 ExecStart=/bin/sh -c '/home/pi/DWIN_LCD/run.sh'
 Restart=always

 [Install]
 WantedBy=multi-user.target
