[Unit]
 Description=My LCD Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=/bin/sleep 30
 ExecStart=/bin/sh -c '/home/pi/DWIN_T5UIC1_LCD/run.sh'

 [Install]
 WantedBy=multi-user.target
